<h1>Datapoint Mapper</h1>

<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>


<%= link_to 'Add Datapoint', new_datapoint_path %> <%= link_to 'Generate 10 Datapoints', home_generatedata_path %>
<%= line_chart home_data_path %>

